@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-SemiboldDisp.eot');
    src: local('Warnock Pro Semibold Display'), local('WarnockPro-SemiboldDisp'),
        url('WarnockPro-SemiboldDisp.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-SemiboldDisp.woff2') format('woff2'),
        url('WarnockPro-SemiboldDisp.woff') format('woff'),
        url('WarnockPro-SemiboldDisp.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-BoldItCapt.eot');
    src: local('Warnock Pro Bold Italic Caption'), local('WarnockPro-BoldItCapt'),
        url('WarnockPro-BoldItCapt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-BoldItCapt.woff2') format('woff2'),
        url('WarnockPro-BoldItCapt.woff') format('woff'),
        url('WarnockPro-BoldItCapt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-Capt.eot');
    src: local('Warnock Pro Caption'), local('WarnockPro-Capt'),
        url('WarnockPro-Capt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-Capt.woff2') format('woff2'),
        url('WarnockPro-Capt.woff') format('woff'),
        url('WarnockPro-Capt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-LightDisp.eot');
    src: local('Warnock Pro Light Display'), local('WarnockPro-LightDisp'),
        url('WarnockPro-LightDisp.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-LightDisp.woff2') format('woff2'),
        url('WarnockPro-LightDisp.woff') format('woff'),
        url('WarnockPro-LightDisp.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-BoldCapt.eot');
    src: local('Warnock Pro Bold Caption'), local('WarnockPro-BoldCapt'),
        url('WarnockPro-BoldCapt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-BoldCapt.woff2') format('woff2'),
        url('WarnockPro-BoldCapt.woff') format('woff'),
        url('WarnockPro-BoldCapt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-SemiboldItDisp.eot');
    src: local('Warnock Pro Semibold Italic Display'), local('WarnockPro-SemiboldItDisp'),
        url('WarnockPro-SemiboldItDisp.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-SemiboldItDisp.woff2') format('woff2'),
        url('WarnockPro-SemiboldItDisp.woff') format('woff'),
        url('WarnockPro-SemiboldItDisp.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-BoldItDisp.eot');
    src: local('Warnock Pro Bold Italic Display'), local('WarnockPro-BoldItDisp'),
        url('WarnockPro-BoldItDisp.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-BoldItDisp.woff2') format('woff2'),
        url('WarnockPro-BoldItDisp.woff') format('woff'),
        url('WarnockPro-BoldItDisp.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-ItCapt.eot');
    src: local('Warnock Pro Italic Caption'), local('WarnockPro-ItCapt'),
        url('WarnockPro-ItCapt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-ItCapt.woff2') format('woff2'),
        url('WarnockPro-ItCapt.woff') format('woff'),
        url('WarnockPro-ItCapt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-LightItDisp.eot');
    src: local('Warnock Pro Light Italic Display'), local('WarnockPro-LightItDisp'),
        url('WarnockPro-LightItDisp.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-LightItDisp.woff2') format('woff2'),
        url('WarnockPro-LightItDisp.woff') format('woff'),
        url('WarnockPro-LightItDisp.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-Light.eot');
    src: local('Warnock Pro Light'), local('WarnockPro-Light'),
        url('WarnockPro-Light.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-Light.woff2') format('woff2'),
        url('WarnockPro-Light.woff') format('woff'),
        url('WarnockPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-It.eot');
    src: local('Warnock Pro Italic'), local('WarnockPro-It'),
        url('WarnockPro-It.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-It.woff2') format('woff2'),
        url('WarnockPro-It.woff') format('woff'),
        url('WarnockPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-Semibold.eot');
    src: local('Warnock Pro Semibold'), local('WarnockPro-Semibold'),
        url('WarnockPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-Semibold.woff2') format('woff2'),
        url('WarnockPro-Semibold.woff') format('woff'),
        url('WarnockPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-BoldItSubh.eot');
    src: local('Warnock Pro Bold Italic Subhead'), local('WarnockPro-BoldItSubh'),
        url('WarnockPro-BoldItSubh.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-BoldItSubh.woff2') format('woff2'),
        url('WarnockPro-BoldItSubh.woff') format('woff'),
        url('WarnockPro-BoldItSubh.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-SemiboldIt.eot');
    src: local('Warnock Pro Semibold Italic'), local('WarnockPro-SemiboldIt'),
        url('WarnockPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-SemiboldIt.woff2') format('woff2'),
        url('WarnockPro-SemiboldIt.woff') format('woff'),
        url('WarnockPro-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-SemiboldSubh.eot');
    src: local('Warnock Pro Semibold Subhead'), local('WarnockPro-SemiboldSubh'),
        url('WarnockPro-SemiboldSubh.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-SemiboldSubh.woff2') format('woff2'),
        url('WarnockPro-SemiboldSubh.woff') format('woff'),
        url('WarnockPro-SemiboldSubh.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-LightCapt.eot');
    src: local('Warnock Pro Light Caption'), local('WarnockPro-LightCapt'),
        url('WarnockPro-LightCapt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-LightCapt.woff2') format('woff2'),
        url('WarnockPro-LightCapt.woff') format('woff'),
        url('WarnockPro-LightCapt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-LightItSubh.eot');
    src: local('Warnock Pro Light Italic Subhead'), local('WarnockPro-LightItSubh'),
        url('WarnockPro-LightItSubh.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-LightItSubh.woff2') format('woff2'),
        url('WarnockPro-LightItSubh.woff') format('woff'),
        url('WarnockPro-LightItSubh.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-BoldIt.eot');
    src: local('Warnock Pro Bold Italic'), local('WarnockPro-BoldIt'),
        url('WarnockPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-BoldIt.woff2') format('woff2'),
        url('WarnockPro-BoldIt.woff') format('woff'),
        url('WarnockPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-SemiboldItCapt.eot');
    src: local('Warnock Pro Semibold Italic Caption'), local('WarnockPro-SemiboldItCapt'),
        url('WarnockPro-SemiboldItCapt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-SemiboldItCapt.woff2') format('woff2'),
        url('WarnockPro-SemiboldItCapt.woff') format('woff'),
        url('WarnockPro-SemiboldItCapt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-Regular.eot');
    src: local('Warnock Pro Regular'), local('WarnockPro-Regular'),
        url('WarnockPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-Regular.woff2') format('woff2'),
        url('WarnockPro-Regular.woff') format('woff'),
        url('WarnockPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-LightSubh.eot');
    src: local('Warnock Pro Light Subhead'), local('WarnockPro-LightSubh'),
        url('WarnockPro-LightSubh.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-LightSubh.woff2') format('woff2'),
        url('WarnockPro-LightSubh.woff') format('woff'),
        url('WarnockPro-LightSubh.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-Bold.eot');
    src: local('Warnock Pro Bold'), local('WarnockPro-Bold'),
        url('WarnockPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-Bold.woff2') format('woff2'),
        url('WarnockPro-Bold.woff') format('woff'),
        url('WarnockPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-BoldDisp.eot');
    src: local('Warnock Pro Bold Display'), local('WarnockPro-BoldDisp'),
        url('WarnockPro-BoldDisp.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-BoldDisp.woff2') format('woff2'),
        url('WarnockPro-BoldDisp.woff') format('woff'),
        url('WarnockPro-BoldDisp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-SemiboldCapt.eot');
    src: local('Warnock Pro Semibold Caption'), local('WarnockPro-SemiboldCapt'),
        url('WarnockPro-SemiboldCapt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-SemiboldCapt.woff2') format('woff2'),
        url('WarnockPro-SemiboldCapt.woff') format('woff'),
        url('WarnockPro-SemiboldCapt.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-SemiboldItSubh.eot');
    src: local('Warnock Pro Semibold Italic Subhead'), local('WarnockPro-SemiboldItSubh'),
        url('WarnockPro-SemiboldItSubh.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-SemiboldItSubh.woff2') format('woff2'),
        url('WarnockPro-SemiboldItSubh.woff') format('woff'),
        url('WarnockPro-SemiboldItSubh.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-LightIt.eot');
    src: local('Warnock Pro Light Italic'), local('WarnockPro-LightIt'),
        url('WarnockPro-LightIt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-LightIt.woff2') format('woff2'),
        url('WarnockPro-LightIt.woff') format('woff'),
        url('WarnockPro-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-ItSubh.eot');
    src: local('Warnock Pro Italic Subhead'), local('WarnockPro-ItSubh'),
        url('WarnockPro-ItSubh.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-ItSubh.woff2') format('woff2'),
        url('WarnockPro-ItSubh.woff') format('woff'),
        url('WarnockPro-ItSubh.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-BoldSubh.eot');
    src: local('Warnock Pro Bold Subhead'), local('WarnockPro-BoldSubh'),
        url('WarnockPro-BoldSubh.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-BoldSubh.woff2') format('woff2'),
        url('WarnockPro-BoldSubh.woff') format('woff'),
        url('WarnockPro-BoldSubh.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-Disp.eot');
    src: local('Warnock Pro Display'), local('WarnockPro-Disp'),
        url('WarnockPro-Disp.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-Disp.woff2') format('woff2'),
        url('WarnockPro-Disp.woff') format('woff'),
        url('WarnockPro-Disp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-LightItCapt.eot');
    src: local('Warnock Pro Light Italic Caption'), local('WarnockPro-LightItCapt'),
        url('WarnockPro-LightItCapt.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-LightItCapt.woff2') format('woff2'),
        url('WarnockPro-LightItCapt.woff') format('woff'),
        url('WarnockPro-LightItCapt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-ItDisp.eot');
    src: local('Warnock Pro Italic Display'), local('WarnockPro-ItDisp'),
        url('WarnockPro-ItDisp.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-ItDisp.woff2') format('woff2'),
        url('WarnockPro-ItDisp.woff') format('woff'),
        url('WarnockPro-ItDisp.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('WarnockPro-Subh.eot');
    src: local('Warnock Pro Subhead'), local('WarnockPro-Subh'),
        url('WarnockPro-Subh.eot?#iefix') format('embedded-opentype'),
        url('WarnockPro-Subh.woff2') format('woff2'),
        url('WarnockPro-Subh.woff') format('woff'),
        url('WarnockPro-Subh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

